<div class="ui raised segment">
  <h2 class="ui header">Demo Form: with custom validations</h2>
  <form [formGroup]="myForm"
        (ngSubmit)="onSubmit(myForm.value)"
        class="ui form">

    <!--
        These are the same
        [ngClass]="{'error': !sku.valid && sku.touched}"
        [class.error]="!sku.valid && sku.touched"
    -->
    <div class="field" [class.error]="(!sku.valid && sku.touched)">
      <label for="skuInput">SKU</label>
      <input type="text"
             id="skuInput"
             placeholder="SKU"
             [formControl]="sku"
      >
      <strong>Has input been touched: {{sku.touched ? 'Yes' : 'No'}}</strong><br>
      <div *ngIf="!sku.valid" class="ui error message">SKU is invalid</div>
      <div *ngIf="sku.hasError('required')" class="ui error message">SKU is required</div>
      <div *ngIf="sku.hasError('invalidSku')" class="ui error message">SKU must start with 123</div>
      <div *ngIf="myForm.hasError('required', 'sku')" class="ui error message">Field SKU is required</div>
    </div>

    <div *ngIf="!myForm.valid" class="ui error message">Form is invalid</div>
    <button type="submit" class="ui button">Submit</button>
  </form>
</div>
